@inject SignInManager<Usuario> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column gap-1 identity-manage-nav">
    <li class="nav-item">
        <a class="nav-link rounded-3 @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">
            <i class="bi bi-person me-2"></i> Perfil
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link rounded-3 @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">
            <i class="bi bi-envelope me-2"></i> E-mail
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link rounded-3 @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">
            <i class="bi bi-lock me-2"></i> Senha
        </a>
    </li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item">
            <a id="external-login" class="nav-link rounded-3 @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">
                <i class="bi bi-link-45deg me-2"></i> Logins externos
            </a>
        </li>
    }
    <li class="nav-item">
        <a class="nav-link rounded-3 @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">
            <i class="bi bi-shield-check me-2"></i> Autenticação de dois fatores
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link rounded-3 @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">
            <i class="bi bi-file-earmark-person me-2"></i> Dados pessoais
        </a>
    </li>
</ul>
