@model VemCaProfWeb.Models.AlunoPessoaModel

@{
    ViewData["Title"] = "Excluir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Excluir Aluno</h1>

<h3>Tem certeza que deseja apagar este aluno?</h3>
<div>
    <h4>Dados do Aluno</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Nome)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Nome) @Html.DisplayFor(model => model.Sobrenome)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Cpf)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Cpf)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.Email)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.Email)</dd>
        
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.AlunoDeMenor)</dt>
        <dd class="col-sm-10">@(Model.AlunoDeMenor ? "Sim" : "Não")</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Confirmar Exclusão" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Voltar para Lista</a>
    </form>
</div>