@model IEnumerable<VemCaProfWeb.Models.AlunoPessoaModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de Alunos</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Novo Aluno</a>
</p>

<table class="table table-striped table-hover">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Nome)</th>
        <th>@Html.DisplayNameFor(model => model.Cpf)</th>
        <th>@Html.DisplayNameFor(model => model.Email)</th>
        <th>Menor?</th>
        <th>Atípico?</th>
        <th>Ações</th>
    </tr>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome) @Html.DisplayFor(modelItem => item.Sobrenome)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Cpf)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            
            <td>@(item.AlunoDeMenor ? "Sim" : "Não")</td>
            <td>@(item.Atipico ? "Sim" : "Não")</td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning">Editar</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Excluir</a>
            </td>
        </tr>
    }
    </tbody>
</table>