@model VemCaProfWeb.Models.PenalidadeModel

@{
    ViewData["Title"] = "Detalhes";
}

@section Styles {
    <link rel="stylesheet" href="~/css/PagePenalidade.css" />
}
<h1>Detalhes</h1>

<div class="penalidade-container">

    <div class="top-bar">
        <a asp-action="Index" class="btn-voltar">
            <i class="bi bi-arrow-left"></i> Voltar
        </a>
        <h4>Penalidade</h4>
    </div>

    
    <hr />
        <dl class="content">
       
        <dt class = "col-sm-2">
            Inicio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHorarioInicio)
        </dd>
        <dt class = "col-sm-2">
            Fim
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHoraFim)
        </dd>
        <dt class = "col-sm-2">
            Tipo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            Professor
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeProfessor)
        </dd>
        <dt class="col-sm-2">
            Responsavel
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeResponsavel)
        </dd>
    </dl>

    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Editar</a> 
    </div>
</div>

