@model VemCaProfWeb.Models.PenalidadeModel

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Detalhes</h1>

<div>
    <h4>Penalidade</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHorarioInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHorarioInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataHoraFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataHoraFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdProfessor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdResponsavel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdResponsavel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdResponsavel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-lg">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary btn-lg">Voltar para a lista</a>
</div>
