@model IEnumerable<VemCaProfWeb.Models.PenalidadeModel>

@{
    ViewData["Title"] = "Penalidade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/PagePenalidade.css" />
}

<h1>Penalidades</h1>


<p>
    <a asp-action="Create" class="btn btn-primary">Criar Nova Penalidade</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Início</th>
            <th>Fim</th>
            <th>Tipo</th>
            <th>Descrição</th>
            <th>Professor</th>
            <th>Responsável</th>
            <th>Ações</th>
            
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.DataHorarioInicio)</td>
            <td>@Html.DisplayFor(modelItem => item.DataHoraFim)</td>
            <td>@Html.DisplayFor(modelItem => item.Tipo)</td>
            <td>
                @if (!string.IsNullOrEmpty(item.Descricao) && item.Descricao.Length > 50)
                {
                    <span>@item.Descricao.Substring(0, 50)...</span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Descricao)
                }
            </td>

            @* Mostrar nome do professor/responsável quando disponível *@
            <td>@(item.IdProfessor)</td>
            <td>@(item.NomeResponsavel)</td>

            <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="delete-icon" >
                        <svg viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.99998 8.99998L5.00001 5.00001M5.00001 5.00001L1 1M5.00001 5.00001L9.00002 1M5.00001 5.00001L1 9.00002" 
                            stroke="#FE0404" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
