@model IEnumerable<VemCaProfWeb.Models.PenalidadeModel>

@{
    ViewData["Title"] = "Penalidade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Cidade.css" />
}

<h1>Index</h1>
<p>
    <a asp-action="Create">Criar Nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Id)</th>
            <th>@Html.DisplayNameFor(model => model.DataHorarioInicio)</th>
            <th>@Html.DisplayNameFor(model => model.DataHoraFim)</th>
            <th>@Html.DisplayNameFor(model => model.Tipo)</th>
            <th>@Html.DisplayNameFor(model => model.Descricao)</th>
            <th>@Html.DisplayNameFor(model => model.IdProfessor)</th>
            <th>@Html.DisplayNameFor(model => model.IdResponsavel)</th>
            
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.DataHorarioInicio)</td>
            <td>@Html.DisplayFor(modelItem => item.DataHoraFim)</td>
            <td>@Html.DisplayFor(modelItem => item.Tipo)</td>
            <td>
                @if (!string.IsNullOrEmpty(item.Descricao) && item.Descricao.Length > 50)
                {
                    <span>@item.Descricao.Substring(0, 50)...</span>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.Descricao)
                }
            </td>

            @* Mostrar nome do professor/responsável quando disponível *@
            <td>@(item.IdProfessor.ToString())</td>
            <td>@(item.IdResponsavel.ToString())</td>

            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
