@model IEnumerable<VemCaProfWeb.Models.PenalidadeModel>

<p>
    <a asp-action="Create">Criar Nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHorarioInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataHoraFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHorarioInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataHoraFim)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
