@model VemCaProfWeb.Models.DisciplinaModel

@{
    ViewData["Title"] = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalhes</h1>

<div>
    <h4>Disciplina</h4>
    <hr />
    <div class="card">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Id)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Id)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nome)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Nome)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Descricao)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Descricao)</dd>

                <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Nivel)</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.Nivel)</dd>
            </dl>
        </div>
    </div>
</div>
<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning btn-lg">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary btn-lg">Voltar para Lista</a>
</div>