@model VemCaProfWeb.Models.DisponibilidadeHorarioModel


@{
    ViewData["Title"] = "Detalhes";
}


@section Styles {
    <link rel="stylesheet" href="~/css/cidade.css" />
}


<h1>Detalhes</h1>

<div>
    <h4>Horário</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HorarioInicio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioFim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HorarioFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProfessor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProfessor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar para lista</a>
</div>
