@model VemCaProfWeb.Models.ResponsavelPessoaModel

@{
    ViewData["Title"] = "Editar Responsável";
}

<h1>Editar</h1>
<h4>Responsável: @Model.Nome @Model.Sobrenome</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="row">
            <div class="col-md-6 form-group mb-3">
                @Html.LabelFor(model => model.Nome, new { @class = "control-label" })
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
             <div class="col-md-6 form-group mb-3">
                @Html.LabelFor(model => model.Sobrenome, new { @class = "control-label" })
                @Html.EditorFor(model => model.Sobrenome, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 form-group mb-3">
                @Html.LabelFor(model => model.Email, new { @class = "control-label" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            
            <div class="col-md-6 form-group mb-3">
                @Html.LabelFor(model => model.QuantidadeDeDependentes, new { @class = "control-label fw-bold" })
                @Html.EditorFor(model => model.QuantidadeDeDependentes, new { htmlAttributes = new { @class = "form-control", type="number" } })
                @Html.ValidationMessageFor(model => model.QuantidadeDeDependentes, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="form-group mb-3">
            @Html.LabelFor(model => model.Senha, new { @class = "control-label" })
            @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "form-control", type="password", placeholder="Deixe vazio para manter a senha atual" } })
            @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
        </div>

        <div class="card mb-3">
            <div class="card-header">Endereço</div>
            <div class="card-body row">
                 <div class="col-md-3">@Html.LabelFor(m => m.Cep) @Html.EditorFor(m => m.Cep, new { htmlAttributes = new { @class = "form-control" }})</div>
                 <div class="col-md-9">@Html.LabelFor(m => m.Rua) @Html.EditorFor(m => m.Rua, new { htmlAttributes = new { @class = "form-control" }})</div>
                 </div>
         </div>

        <div class="form-group mt-3">
            <input type="submit" value="Salvar Alterações" class="btn btn-warning" />
            @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}